.navbar{
    display:flex;
    justify-content: space-between;
    background: #222;
    padding: 1em;
    overflow: hidden;
    
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
}

.item a{
    color:#fff;
    text-decoration: none;

}

.item a:hover{
    color:#ffbb33;
}

/*media*/

@media only screen and (max-width: 412px){
    .navbar{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #222;
        padding: 1em;
        overflow: hidden;
        
    }
    .navbar .img{
        width: 50px;
    }
    .list{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        
    }
    .item{
        margin-bottom: .3em;
    }
}